<div class='container-fluid'>
    <div class="row">
        <h1 style="font-family:verdana; font-size:150%; color:blue;">Create Business Location</h1>
    </div>
    <div class="row">
        <li class="mat-form-field--inline">
            <mat-form-field class="example-full-width">
                <mat-label>Name: </mat-label>
                <input type="text" matInput [formControl]="nameControl" [matAutocomplete]="autoName">
                <mat-autocomplete #autoName="matAutocomplete">
                    <mat-option *ngFor="let option of nameFilterOptions | async" [value]="option.value">
                        {{option.value}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Nick Name</mat-label>
                <input type="text" matInput [formControl]="nickNameControl" [matAutocomplete]="autoNickName">
                <mat-autocomplete #autoNickName="matAutocomplete">
                    <mat-option *ngFor="let option of nickNameFilterOptions | async" [value]="option.value">
                        {{option.value}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Name Short</mat-label>
                <input type="text" matInput [formControl]="nameShortControl" [matAutocomplete]="autoNameShort">
                <mat-autocomplete #autoNameShort="matAutocomplete">
                    <mat-option *ngFor="let option of nameShortFilterOptions | async" [value]="option.value">
                        {{option.value}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Primary Language:</mat-label>
                <mat-select name="language">
                    <mat-option value="English"> English
                    </mat-option>
                    <mat-option value="Swedish"> Swedish
                    </mat-option>
                    <mat-option value="Hindi"> Hindi
                    </mat-option>
                    <mat-option value="Spanish"> Spanish
                    </mat-option>
                    <mat-option value="Denish"> Denish
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </li>
    </div>
    <div class="row">
        <li class="mat-form-field--inline">
            <mat-form-field class="example-full-width">
                <mat-label>Notes</mat-label>
                <input type="text" matInput [formControl]="notesControl" [matAutocomplete]="autoNotes">
                <mat-autocomplete #autoNotes="matAutocomplete">
                    <mat-option *ngFor="let option of notesFilterOptions | async" [value]="option.value">
                        {{option.value}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Sensitivity Rating:</mat-label>
                <mat-select name="Sensitivity">
                    <mat-option value="Public" selected> Public
                    </mat-option>
                    <mat-option value="Private"> Private
                    </mat-option>
                    <mat-option value="None"> None
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Life Cycle:</mat-label>
                <mat-select name="lifeCycle">
                    <mat-option value="Business Location Production" selected> Public
                    </mat-option>
                    <mat-option value="Business Location Stage"> Private
                    </mat-option>
                    <mat-option value="Business Location Test"> None
                    </mat-option>
                    <mat-option value="Business Location SIT"> Private
                    </mat-option>
                    <mat-option value="Business Location Dev"> None
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>User Friendly Id:</mat-label>
                <input type="text" matInput [formControl]="responsiblePartyControl" [matAutocomplete]="autoRespParty">
                <mat-autocomplete #autoRespParty="matAutocomplete">
                    <mat-option *ngFor="let option of responsiblePartyFilterOptions | async" [value]="option.value">
                        {{option.value}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </li>
    </div>
    <div class="row">
        <li class="mat-form-field--inline">
            <mat-form-field class="example-full-width">
                <mat-label>Responsible Party:</mat-label>
                <input type="text" matInput [formControl]="responsiblePartyControl" [matAutocomplete]="autoRespParty">
                <mat-autocomplete #autoRespParty="matAutocomplete">
                    <mat-option *ngFor="let option of responsiblePartyFilterOptions | async" [value]="option.value">
                        {{option.value}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Valid From:</mat-label>
                <input matInput [matDatepicker]="from" [formControl]="fromDateControl">
                <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                <mat-datepicker #from></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Valid To:</mat-label>
                <input matInput [matDatepicker]="to" [formControl]="toDateControl">
                <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                <mat-datepicker #to></mat-datepicker>
            </mat-form-field>
        </li>
    </div>
    <div class="row">
        <button mat-raised-button color="primary" (click)="onCreate()">Submit</button>
        <div style="width: 20px;"></div>
        <button mat-raised-button color="primary" (click)="onClear()">Clear</button>
    </div>
    <div class="row" style="height: 10px;">
    </div>
    <div class="row" *ngIf="addressCreated" style="color: blue;">
        <span><b>{{bottomMessage}}</b></span>
    </div>
</div>