<!-- <div class="container">
  <div class="row">
    <div class="col-md-4" style="background-color: aqua;">
      <mat-form-field appearance="fill" style="width: 80%;">
        <mat-label>Address Id:</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-md-4" style="background-color:beige;">
      <mat-form-field appearance="fill">
        <mat-label>Address Type:</mat-label>
        <input matInput style="width: 80%;">
      </mat-form-field>
    </div>
  <div class="col-md-4" style="background-color: aqua;">
    <mat-form-field appearance="fill">
      <mat-label>Street Name:</mat-label>
      <input matInput style="width: 80%;">
    </mat-form-field>
  </div>
  </div>
  <div class="example-container">
    
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <button mat-button>Click me!</button>
  </div>
</div> -->

<!-- 
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode.value">
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <p>
      <mat-radio-group class="example-radio-group" [formControl]="mode1">
        <label>Mode:</label>Side
        <mat-radio-button value="over">Over</mat-radio-button>
        <mat-radio-button value="side">Side</mat-radio-button>
        <mat-radio-button value="push">Push</mat-radio-button>
      </mat-radio-group>
    </p>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <p>
      <mat-radio-group class="example-radio-group" [formControl]="mode">
        <label>Mode:</label>
        <mat-radio-button value="over">Over</mat-radio-button>
        <mat-radio-button value="side">Side</mat-radio-button>
        <mat-radio-button value="push">Push</mat-radio-button>
      </mat-radio-group>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div> -->

<app-home></app-home>